.bg-success {
    background-color: $notify-success-color;
  }
  
  .bg-error {
    background-color: $notify-error-color;
  }
  
  .bg-color-0 {
    background-color: $white-1;
  }
  
  .bg-color-01 {
    background-color: $red-2;
  }
  
  .bg-color-02 {
    background-color: $orange-1;
  }
  
  .bg-color-03 {
    background-color: $light-pink-1;
  }
  
  .bg-color-04 {
    background-color: $green-1;
  }
  
  .bg-color-05 {
    background-color: $black-1;
  }
  
  .bg-color-06 {
    background-color: $red-1;
  }
  