/* =====================
    * TEXT *
===================== */

.is-size {
    &-1 {
      font-size: $p1-font-size;
    }
  
    &-2 {
      font-size: $p2-font-size;
    }
  
    &-3 {
      font-size: $p3-font-size;
    }
  
    &-4 {
      font-size: $p4-font-size;
    }
  
    &-5 {
      font-size: $p5-font-size;
    }
  }
  
  .is-light {
    font-weight: 200;
  }
  
  .is-regular {
    font-weight: 400;
  }
  
  .is-semibold {
    font-weight: 600;
  }
  
  .is-bold {
    font-weight: 700;
  }
  
  .is-extrabold {
    font-weight: 800;
  }
  
  .fs- {
    &1 {
      font-size: $h1-font-size;
      line-height: 1em;
    }
  
    &2 {
      font-size: $h2-font-size;
      line-height: 1em;
  
      @include mediaMax(sm) {
        font-size: $h3-font-size;
      }
    }
  
    &3 {
      font-size: $h3-font-size;
      line-height: 1em;
  
      @include mediaMax(sm) {
        font-size: $h4-font-size;
      }
    }
  
    &4 {
      font-size: $h4-font-size;
      line-height: 1em;
  
      @include mediaMax(sm) {
        font-size: $h5-font-size;
      }
    }
  
    &5 {
      font-size: $h5-font-size;
    }
  }
  
  .text-upperCase {
    text-transform: uppercase;
  }
  
  .content {
    color: $black-1;
  
    & h2 {
      padding-bottom: 0.5rem;
      @extend .fs-2;
    }
  
    & h3,
    h4 {
      padding-bottom: 0.5rem;
      @extend .fs-5;
    }
  
    & strong span {
      font-weight: 600;
      line-height: 160%;
      @extend .is-size-1;
    }
  
    & p {
      font-weight: 350;
      padding: 0.5rem 0;
      @extend .is-size-4;
    }
  }
  
  .is-color-red {
    color: $red-1;
  }
  
  .section-title {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    @extend .fs-5;
    color: $black-1;
  
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 60px;
      height: 4px;
    }
  
    &.line-white::after {
      background-color: $white-1;
    }
  
    &.line-green::after {
      background-color: $green-1;
    }
  
    &.line-red::after {
      background-color: $red-1;
    }
  
    &.line-blue::after {
      background-color: $blue-1;
    }
  
    &.line-red2::after {
      background-color: $red-2;
    }
  
    &.line-black::after {
      background-color: $black-1;
    }
  
    &.line-orange::after {
      background-color: $orange-1;
    }
  
    &.line-light-pink::after {
      background-color: $light-pink-1;
    }
  }
  
  .textContainer {
    margin-bottom: 6rem;
    margin-top: 6rem;
    column-count: 2;
    column-rule: 1px solid $black-1;
    column-gap: 8rem;
    column-fill: balance;
  
    @include mediaMax(xs) {
      column-count: 1;
    }
  
    @extend .container;
  }
  
  .embedded {
    padding: 0 2rem;
    max-width: 100vw;
    overflow: hidden;
    @include mediaMax(sm) {
      padding: 0 1rem;
      margin: auto;
    }
  
    & > iframe {
      width: 100% !important;
  
      max-width: 80vw;
      aspect-ratio: 16/9 !important;
      height: unset !important;
    }
  }
  